.create-edit-note-page-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 3rem;
}

.space-between-description-and-importance-labels {
    grid-row: span 2;
}

.description-input {
    grid-row: span 3;
}

.title-label,
.space-between-description-and-importance-labels,
.description-label,
.importance-label,
.finished-by-label {
    grid-column: 2 / 3;
}

.speichern {
    grid-column: 2 / 8;
}

.importance-value-container,
.finished-by-input {
    grid-column: 3 / 5;
}

.title-input,
.description-input {
    grid-column: 3 / 7;
}

.cancel {
    grid-column: 6 / 8;
}

input,
textarea {
    width: 100%;
    height: 100%;
}
