.index-page-container {
    grid-template-columns: repeat(28, 1fr);
    row-gap: 1rem;
    grid-auto-flow: dense;
}

.create-note,
.color-palette-selector {
    grid-row: 1 / 3;
    min-height: 2rem;
}

.by-finish-date,
.by-created-date,
.by-importance,
.show-finished {
    grid-row: 3 / 5;
    min-height: 2rem;
}

.space-between-create-note-and-color-palette {
    grid-row: span 2;
    grid-column: 7 / 23;
}

.move-edit-down {
    grid-row: span 3;
}

.finish-by-date,
.title-padding-left,
.title,
.space-between-title-and-importance,
.importance,
.importance-padding-right,
.finished,
.description-padding-left,
.description,
.space-between-description-and-arrow,
.arrow-container,
.arrow-padding-right {
    grid-row: span 4;
}

.edit-button {
    grid-row: span 5;
}

.create-note,
.finish-by-date,
.finished {
    grid-column: 2 / 7;
}

.by-finish-date {
    grid-column: 2 / 8;
}

.title-padding-left,
.description-padding-left {
    grid-column: 8 / 9;
}

.by-created-date {
    grid-column: 8 / 15;
}

.title,
.description {
    grid-column: 9 / 18;
}

.by-importance {
    grid-column: 15 / 22;
}

.space-between-title-and-importance,
.space-between-description-and-arrow {
    grid-column: 18 / 19;
}

.importance,
.arrow-container {
    grid-column: 19 / 23;
}

.importance-padding-right,
.arrow-padding-right {
    grid-column: 23 / 24;
}

.color-palette-selector,
.show-finished {
    grid-column: 23 / 28;
}

.move-edit-down,
.edit-button {
    grid-column: 25 / 28;
}

div {
    display: flex;
    align-items: center;
}

.arrow-container {
    justify-content: flex-end;
}

div,
button,
select {
    width: 100%;
    height: 100%;
}

.description-padding-left,
.description,
.space-between-description-and-arrow,
.arrow-container,
.arrow-padding-right {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.description-padding-left {
    border-left: 1px solid black;
}

.arrow-padding-right {
    border-right: 1px solid black;
}

.arrow-down,
.arrow-up {
    justify-content: flex-end;
    cursor: pointer;
}

.arrow-down::after {
    content: '\25bc';
    -webkit-text-stroke: 5px black;
    color: transparent;
    font-size: 57px;
    width: 55px;
}

.arrow-up::after {
    content: '\25b3';
    -webkit-text-stroke: 2px black;
    color: black;
    font-size: 62px;
    width: 51px;
}
