* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    align-items: flex-start;
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;
}

.create-note,
.color-palette-selector {
    grid-row: 1 / 3;
}

.by-finish-date,
.by-created-date,
.by-importance,
.show-finished {
    grid-row: 3 / 5;
}

.space-between-create-note-and-color-palette {
    grid-row: span 2;
}

.move-edit-down {
    grid-row: span 3;
}

.finish-by-date,
.title-padding-left,
.title,
.space-between-title-and-importance,
.importance,
.importance-padding-right,
.finished,
.description-padding-left,
.description,
.space-between-description-and-arrow-down,
.arrow-down-container,
.arrow-down-padding-right {
    grid-row: span 4;
}

.edit-button {
    grid-row: span 5;
}

.create-note,
.finish-by-date,
.finished {
    grid-column: 2 / 7;
}

.by-finish-date {
    grid-column: 2 / 8;
}

.space-between-create-note-and-color-palette {
    grid-column: 7 / 23;
}

.title-padding-left,
.description-padding-left {
    grid-column: 8 / 9;
}

.by-created-date {
    grid-column: 8 / 15;
}

.title,
.description {
    grid-column: 9 / 18;
}

.by-importance {
    grid-column: 15 / 22;
}

.space-between-title-and-importance,
.space-between-description-and-arrow-down {
    grid-column: 18 / 19;
}

.importance,
.arrow-down-container {
    grid-column: 19 / 23;
}

.importance-padding-right,
.arrow-down-padding-right {
    grid-column: 23 / 24;
}

.color-palette-selector,
.show-finished {
    grid-column: 23 / 28;
}

.move-edit-down,
.edit-button {
    grid-column: 25 / 28;
}

div {
    display: flex;
    align-items: center;
}

.arrow-down-container {
    justify-content: flex-end;
}

div,
button,
select {
    width: 100%;
    height: 100%;
}

.description-padding-left,
.description,
.space-between-description-and-arrow-down,
.arrow-down-container,
.arrow-down-padding-right {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.description-padding-left {
    border-left: 1px solid black;
}

.arrow-down-padding-right {
    border-right: 1px solid black;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
}
