.notes-page-container {
    grid-template-columns: repeat(28, 1fr);
    row-gap: 1rem;
    grid-auto-flow: dense;
}

.notes-page-container .create-note,
.notes-page-container .color-palette-selector {
    grid-row: 1 / 3;
}

.notes-page-container .by-finish-date,
.notes-page-container .by-created-date,
.notes-page-container .by-importance,
.notes-page-container .show-finished {
    grid-row: 3 / 5;
}

.notes-page-container .space-between-create-note-and-color-palette {
    grid-row: span 2;
    grid-column: 7 / 23;
}

.notes-page-container .move-edit-down {
    grid-row: span 3;
}

.notes-page-container .finish-by-date,
.notes-page-container .title-padding-left,
.notes-page-container .title,
.notes-page-container .space-between-title-and-importance,
.notes-page-container .importance,
.notes-page-container .importance-padding-right,
.notes-page-container .finished,
.notes-page-container .description-padding-left,
.notes-page-container .description,
.notes-page-container .space-between-description-and-arrow,
.notes-page-container .arrow-container,
.notes-page-container .arrow-padding-right {
    grid-row: span 4;
}

.notes-page-container .edit-button {
    grid-row: span 5;
}

.notes-page-container .create-note,
.notes-page-container .finish-by-date,
.notes-page-container .finished {
    grid-column: 2 / 7;
}

.notes-page-container .by-finish-date {
    grid-column: 2 / 8;
}

.notes-page-container .title-padding-left,
.notes-page-container .description-padding-left {
    grid-column: 8 / 9;
}

.notes-page-container .by-created-date {
    grid-column: 8 / 15;
}

.notes-page-container .title,
.notes-page-container .description {
    grid-column: 9 / 18;
}

.notes-page-container .by-importance {
    grid-column: 15 / 22;
}

.notes-page-container .space-between-title-and-importance,
.notes-page-container .space-between-description-and-arrow {
    grid-column: 18 / 19;
}

.notes-page-container .importance,
.notes-page-container .arrow-container {
    grid-column: 19 / 23;
}

.notes-page-container .importance-padding-right,
.notes-page-container .arrow-padding-right {
    grid-column: 23 / 24;
}

.notes-page-container .color-palette-selector,
.notes-page-container .show-finished {
    grid-column: 23 / 28;
}

.notes-page-container .move-edit-down,
.notes-page-container .edit-button {
    grid-column: 25 / 28;
}

.notes-page-container div {
    display: flex;
    align-items: center;
}

.notes-page-container .arrow-container {
    justify-content: flex-end;
}

.notes-page-container div,
.notes-page-container button,
.notes-page-container select {
    width: 100%;
    height: 100%;
}

.notes-page-container .description-padding-left,
.notes-page-container .description,
.notes-page-container .space-between-description-and-arrow,
.notes-page-container .arrow-container,
.notes-page-container .arrow-padding-right {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.notes-page-container .description-padding-left {
    border-left: 1px solid black;
}

.notes-page-container .arrow-padding-right {
    border-right: 1px solid black;
}

.notes-page-container .arrow-down,
.notes-page-container .arrow-up {
    justify-content: flex-end;
    cursor: pointer;
}

.notes-page-container .arrow-down::after {
    content: '\25bc';
    -webkit-text-stroke: 5px black;
    color: transparent;
    font-size: 57px;
    width: 55px;
}

.notes-page-container .arrow-up::after {
    content: '\25b3';
    -webkit-text-stroke: 2px black;
    color: black;
    font-size: 62px;
    width: 51px;
}
